<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="30">
	<Properties>
		<Property name="log-path">@LOG4J_DIR@</Property>
	</Properties>
	<Appenders>

		<RollingFile name="file-log" fileName="${log-path}/conservabo.log"
			filePattern="${log-path}/conservabo-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="it.intesa.innovation.conservabo" level="debug" additivity="false">
			<appender-ref ref="file-log" level="debug" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="it.intesa.innovation.elasticcore" level="debug" additivity="false">
			<appender-ref ref="file-log" level="debug" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
